.form-container{
    background-color: #9FD593;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 26px  #474C17;
    padding: 20px;
    
}
.form-heading{
    font-family: "Roboto";
    font-size: 28px;
    color: #035C82;
    text-align: center;
}
@media screen and (min-width: 768px){
    .form-heading{
        font-size: 32px;
    }
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.difficulty-heading{
    font-family: "Open Sans";
    font-size: 14px;
    color: #035C82;
    font-weight: 600;
}
.difficulty-level-container{
    border: 1px solid #9E9E9E;
    font-family: "Roboto";
    font-size: 14px;
    color: #191918;
    font-weight: 600;
    padding: 8px 8px 8px 16px;
    width: 200px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}
.label-text{
    font-family: "Roboto";
    font-size: 12px;
    color: #595957;
    font-weight: 600;
    margin-bottom: 4px;
}
.input_element{
    border: 1px solid #9E9E9E;
    font-family: "Roboto";
    font-size: 14px;
    color: #191918;
    font-weight: 500;
    padding: 8px 8px 8px 16px;
    width: 90%;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    height: 25px;
}
@media screen and (min-width: 768px){
    .form{
        margin: 0 20px;
    }
}
.register-btn{
    font-family: "Roboto";
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    background-color: #097025;
    margin: auto;
    margin-top: 20px;
}